.contenedor-proyectos-destacados{
	display: flex;
	flex-wrap: nowrap;
	overflow :hidden;
	position: relative;


}
.contenedor-proyectos-destacados-1{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	position: relative;	
}

.cont-de-letras{
	width: 55%;
	margin: 0 auto;
	display:flex; 
}

.cont-de-letras .proy-s{
	padding: 5px;
	width: 33%;
	
}

.cont-de-letras .proy-s img{
	width: 100%;
	cursor: pointer;
}


.contenedor-proyectos-destacados-2{
	width: 100%;
	float: left;
	position: absolute;
	left: 200%;
}

.contenedor-proyectos-destacados-3{
	width: 100%;
	background: green;
	float: left;
	position: absolute;
	left: 300%;
}

.cont-proy-dest{
	width: 50%;
	
}

#cont-proy-dest-1 img, #cont-proy-dest-4 img{
	width: 100%;
}

#cont-proy-dest-2, #cont-proy-dest-3, #cont-proy-dest-5{
	background: #141414;
	padding: 30px;
	color: #dedede;
}

#cont-proy-dest-5{
	display: none;
}

#cont-proy-dest-2 h3, #cont-proy-dest-3 h3, #cont-proy-dest-5 h3{
	text-align: center;
	font-size: 18px;
}

#cont-proy-dest-2 p, #cont-proy-dest-3 p, #cont-proy-dest-5 p{
	text-align: justify;
}

.contenedor-de-proyectos{
	flex-wrap: wrap;


}

.contenedor-de-proyectos .bloq-proyectos{
	width: 200px;
	margin: 5px;
	float: left;
}

.contenedor-de-proyectos .bloq-proyectos img{
	width: 100%;
}

.colum-proy{
	width: 100%;
	display: inline-flex;
}

.colum-proy .colum-proy-1, .colum-proy .colum-proy-2, .colum-proy .colum-proy-3, .colum-proy .colum-proy-4{
	width: 25%;
	/*overflow: hidden;*/
}


.colum-proy-1 img, .colum-proy-2 img, .colum-proy-3 img, .colum-proy-4 img{
	width: 100%;
	padding: 5px;
}

#txt-proy1, #txt-proy2, #txt-proy3, #txt-proy4, #txt-proy5, #txt-proy6, #txt-proy7, #txt-proy8, #txt-proy9{
	display: none;
}


.colum-proy-1 img:hover > #txt-proy1{
	display: block;
	transition:all .6s ease-in-out;
	-webkit-transform:scale(1.7);
	transform:scale(1.7);
}

/*.colum-proy-1 img:hover, .colum-proy-2 img:hover, .colum-proy-3 img:hover, .colum-proy-4 img:hover{
	transition:all .6s ease-in-out;
	-webkit-transform:scale(1.7);
	transform:scale(1.7);

}*/

@media screen and (max-width: 784px) {
	.cont-proy-dest{
		width: 100%;
	
	}
	#cont-proy-dest-3{
		display: none;
	}
	#cont-proy-dest-5{
		display: block;
	}

	.cont-de-letras{
		width: 90%;
		margin: 0 auto;
		display:flex; 
	}
}