#menu-inicio ul li{
	list-style:none;
	margin-bottom: 10px; 
}

#menu-inicio ul li a{
	color: gray;
	font-size: 16px;
}

#menu-inicio ul li .selected{
	font-weight: bold;
}

#menu-inicio ul li .no-selected{
	font-weight: normal;
}


@media screen and (max-width: 784px) {
	#menu-inicio ul{
		display: flex;
		justify-content: space-around;
	}

	#menu-inicio ul li{
		
	}

	#menu-inicio ul li a{
		font-size: 11px !important;
	}
}