*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	font-size: 16px; 
}

body{
	background: #fff;

}

.cont-logo{
	width: 100%;
	margin: 20px auto;
}

.cont-logo > img{
	width: 85%;
	height: 100%;
}

.cont-titulo{
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.cont_logo_footer{
	width: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}


.cont-titulo .titulo a{
	font-size: 20px;
	color: #333;
	font-weight: bold;
	cursor: pointer;
}
.cont-botones{
	width: 200px;
	margin: 10px auto; 
	display: flex;
	justify-content: space-around;
}
.cont-botones .boton-atras, .boton-actual, .boton-delante{
	width: 40px;
	height: 5px;
	background: #dedede;
	border-radius: 3px;
	cursor: pointer;
	border:1px solid transparent;
}
.cont-botones .boton-actual{
	width: 30px;
	height: 5px;
	background: #333;
}

.ancla-top{
	width: 100%;
	height: 30px;
	margin-top: 20px;
}

.ancla-top img{
	cursor: pointer;
	float: right;
}

.botones-grandes-izq{
	width: 100px;
	left: 0%;
	top: 15%;
	position: absolute;
}
.botones-grandes-der{
	width: 100px;
	right: 0%;
	top: 20%;
	position: absolute;
}

.botones-grandes-izq .boton-izq-grande{
	float: left;
	opacity: 0.3;
	cursor: pointer;
	
}

.botones-grandes-der .boton-der-grande{
	float: right;
	opacity: 0.3;
	cursor: pointer;
}

.botones-grandes-der .boton-der-grande:hover{
	opacity: 1;
}

.botones-grandes-izq .boton-izq-grande:hover{
	opacity: 1;
}

